<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            rel="stylesheet"
            href="https://unpkg.com/papercss@1.8.3/dist/paper.min.css"
        />
        <script
            src="https://kit.fontawesome.com/6b1c40ee2f.js"
            crossorigin="anonymous"
        ></script>
        <link
            rel="icon"
            type="image/png"
            href="{% static 'images/Confessioner.png' %}"
        />
        <title>Confessioner | Beta</title>
    </head>
    <body>
        <nav class="border split-nav">
            <div class="nav-brand">
                <h3>
                    <a href="/"
                        ><img
                            alt="logo"
                            src="{% static 'images/Confessioner-transparent.png' %}"
                            style="width: 40px; height: 40px; display: inline"
                        />
                        Confessioner <code>Beta</code></a
                    >
                </h3>
            </div>
            <div class="collapsible">
                <input id="collapsible1" type="checkbox" name="collapsible1" />
                <label for="collapsible1">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </label>
                <div class="collapsible-body">
                    <ul class="inline">
                        {% if request.user.username %}
                        <li
                            popover-bottom="{{request.user.username}}{% if request.user.email %}, {{request.user.email}} {% endif %}"
                        >
                            <a>Hi, {{request.user.username}} </a>
                        </li>
                        <li><a href="{% url 'confess' %}">Confess</a></li>
                        <li>
                            <a href="{% url 'communities' %}">My Communities</a>
                        </li>
                        <li><a href="{% url 'logout' %}">Log Out</a></li>
                        {% else %}
                        <li><a href="{% url 'login' %}"> Login </a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}{% endblock %} {% block scripts%}{% endblock %}
        <div class="border container-lg" style="height: 100px; left: 0; bottom: 0; width: 100%; ">
            <div class="row">
                <div class="col-6 col">
                    <div class="text-center">
                        <p>
                            Confessioner 2022 under <a href="https://opensource.org/licenses/MIT">MIT License</a> | <a href="{% url 'tos' %}">Terms</a>
                            <a href="{% url 'privacy' %}">Privacy</a>
                        </p>
                    </div>
                </div>
        </div>
    </body>
</html>
