{% extends 'main/base.html' %} {% block content %}
<div class="container">
    <h1>{{ community.name }} {% if community.verified %} <i class="fa-regular fa-circle-check" style="color: #0066ff;"></i>{% endif %}</h1>
    <p>{{ community.description }}</p>
    <div class="row flex-spaces child-borders child-shadows">
        {% for confession in confessions %}
        <div class="sm-6 col">
            <div class="card-body">
                <h4 class="card-title">{{confession.title}}</h4>
                <h5 class="card-subtitle">Posted on {{confession.created_at}}</h5>
                <p class="card-text">
                   {{confession.content}}
                </p>
                <a class="card-link" href="{% url 'confession' id=confession.id %}">Take me there <i class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        <br />
        {% empty %}
        <div class="col">
            <p>No confessions yet!</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}
